
form{
margin:10px;
border:10px solid black;
padding:10px 20px 10px 20px;
border:10px solid yellow;
outline-color:red;
outline-width:3px;
outline-style:dotted;
}
h3{
text-align:center;
text-transform:uppercase;
text-shadow:1.5px 2px green;
font-family:serif;
opacity:1.0;
}
p{
text-align:left;
font-size:20px;
color:tomato;
}
